 .u-section-1 {
  background-image: url("images/349ed289-d241-0f9d-1317-ce710b39b023.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1380px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1138px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 872px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 654px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 408px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 109px;
  grid-template-columns: 50% 50%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  border-style: solid;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
  padding: 35px 68px 36px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 3px;
  font-size: 1.875rem;
  border-style: solid;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  font-weight: 700;
  background-image: none;
  margin: 0 auto;
  padding: 35px 68px 36px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    min-height: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    min-height: 207px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-btn-1 {
    margin-left: 0;
    padding: 28px 24px 29px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 0;
    padding: 28px 24px 29px;
  }
}