.u-section-1 .u-sheet-1 {
  min-height: 92px;
}

.u-section-1 .u-group-1 {
  width: 1080px;
  min-height: 92px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 0 364px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: 940px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 186px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 114px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-2 .u-group-1 {
  width: 1080px;
  min-height: 547px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 532px;
  height: 500px;
  margin: 30px auto 0 244px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 372px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 373px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 229px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 458px;
}

.u-section-3 .u-group-1 {
  width: 1080px;
  min-height: 458px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 10px 240px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -42px auto 0 75px;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-weight: 500;
  margin: 17px 14px 0 554px;
}

.u-section-3 .u-text-4 {
  margin: -218px auto 0 106px;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 47px auto 0 75px;
}

.u-section-3 .u-text-6 {
  margin: 45px auto 0 101px;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 47px auto 0 75px;
}

.u-section-3 .u-text-8 {
  margin: 45px auto 0 101px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -45px;
    margin-right: 0;
    margin-left: 428px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -162px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -85px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 27px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -22px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 208px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 180px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 113px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 162px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -186px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: -226px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 168px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 542px;
}

.u-section-4 .u-group-1 {
  width: 1080px;
  min-height: 541px;
  margin: 0 auto 2px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-image-1 {
  width: 278px;
  height: 380px;
  margin: 16px 108px 0 auto;
}

.u-section-4 .u-image-2 {
  width: 278px;
  height: 380px;
  margin: -380px auto 0 108px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-image-1 {
    height: 381px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -381px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 42px;
  }

  .u-section-4 .u-image-2 {
    margin-left: 42px;
  }
}